<!--Rohan Likhite --> 
body {
    background-color: #406686;
}
#logo {
    position: relative;
    display: block;
    float: left;
}
#bingotext {
    position: relative;
    text-align: right;
}
#winner {
    margin: auto;
    background: rgba(0, 0, 0, .85);
    border-radius: 5px;
    height: 700px;
    width: 700px;
    display: none;
    z-index: 1;
    position: absolute;
    color: #FFF;
    line-height: 618px;
}
#winner p {
    font-size: 45%;
    color: #CCC !important;
}
#wontext {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    margin: auto;
    text-align: center;
    font-size: 300%;
    font-family: Helvetica;
}
table{
table-layout: fixed;
    border: none !important;
    background-color: #fff;
    border-collapse: separate;
    border-spacing: 10px;

}
tr,
td {
    z-index: 2;
    
}
td {
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #FFF;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 0px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    text-shadow:0px 0px 10px black;
    word-wrap:normal;
}
.white{
     color: #fff;
}
td:hover {
    color: #ececec;
    
}
#free {
    color: #fff;
}
#header {
    text-align: center;
    width: 225px;
    margin: auto;
}
#bingo {
    margin-bottom: 0px;
    border: 0px solid #fff;
    background-color: #fff;
    border-radius: 10px;
    width: 700px;
    height: 700px;
    
}
.ui {
    
    opacity:0.6;
    color: #12dbd5 !important;
    
}
.ui:hover, .ui:focus, .ui:active {
    z-index:555555 !important;
  -webkit-transform: scale(1);
  transform: scale(1);
}
#newcard {
    text-align: center;
    color: #FFF;
}